__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
myenv/

.pytest_cache/
.mypy_cache/

bin/
build/
dist/

ocr_debug_topbar.png
ocr_debug_roi.png
ocr_debug_processed.png

*.log

.DS_Store
Thumbs.db
